body {
  background: rgb(75, 75, 75);
}
nav {
  background: black;
}
p {
  color: white;
  font-size: 150%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(66, 66, 66);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change the link color to #111 (black) on hover */
.dropdown-content a:hover {
  background-color: rgb(150, 0, 0);
}

.dropdown-content a:focus {
  background-color: rgb(0, 150, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .dropdown:focus-within .dropdown-content {
  display: block;
} */

.active {
  display: block;
}

li a:hover {
  background-color: rgb(200, 0, 0);
}
li a:focus {
  background-color: rgb(0, 200, 0);
}

#back {
  color: red;
}